<!DOCTYPE html>
<html lang="en">
 
<head>

    <title>Guess the Karma</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/index.js"></script>

    <style type="text/css">
        @media (min-width: 768px) {
            .container {
                max-width: calc(768px*0.8);
            }
        }
        @media (min-width: 960px) {
            .container {
                max-width: calc(960px*0.8);
            }
        }
        @media (min-width: 1280px) {
            .container {
                max-width: calc(1280px*0.8);
            }
        }
        @media (min-width: 1600px) {
            .container {
                max-width: calc(1600px*0.8);
            }
        }
        #jtron{
            transition: 2s;
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">About</a>
                    </li>
                    <li role="presentation"><a href="#">New Game</a>
                    </li>
                    <li class="dropdown">
                    	<a class="dropdown-toggle" data-toggle="dropdown">Choose Subreddit
                    		<span class="caret"></span>
                    	</a>
                    	<ul id="dropdown-populate" class="dropdown-menu"></ul>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Guess the Karma</h3>
        </div>

        <div id="jtron" class="jumbotron" style="padding-top:3%;padding-bottom:5%;margin-bottom:1%">
			<div class="row">
				<h2 id="caption-subreddit" style="padding-bottom:2%">Subreddit (i/n)</h2>
				<div class="col-md-6">
<!-- 					<h4 id="caption-left">Left Image</h4> -->
					<div class="thumbnail" style="height:180px">
						<img src="images/gears.gif" alt="Loading..." style="max-height:100%" id="left-image"/>
					</div>
					<div class="caption">
						<h4 id="caption-left">Loading Caption...</h4>
					</div>
				</div>
				<div class="col-md-6">
<!-- 					<h4 id="caption-right">Right Image</h4> -->
					<div class="thumbnail" style="height:180px">
						<img src="images/gears.gif" alt="Loading..." style="max-height:100%" id="right-image"/>
					</div>
					<div class="caption">
						<h4 id="caption-right">Loading Caption...</h4>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-md-6">
                    <h3 id="result-left"></h3>
                </div>
                <div class="col-md-6">
                    <h3 id="result-right"></h3>
                </div>
			</div>
        </div>
        <div id="survey" class="row">
        	<h2 id="question" style="padding-bottom:2%;width:inherit;text-align: center"></h2>
			<div class="col-md-6">
				<button id="button-left" type="button" class="btn btn-primary btn-block" id="button-left">Left Image</button>
			</div>
			<div class="col-md-6">
				<button id="button-right" type="button" class="btn btn-primary btn-block" id="button-right">Right Image</button>
			</div>
		</div>
 
<!--
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 -->
    </div>
</body>
 
</html>
